html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container {
    background: url(images/pizza-home.jpg) center center fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    max-width: 60em;
    margin: auto;
}

div.container {
    position: relative;
    min-height: 100vh;
    max-width: 60em;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgb(211, 211, 211);
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */

main {
    padding: 2em 2em 6em;
}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(128, 0, 0);
    padding: 1em 1em 0.5em;
}

h1 {
    width: 20em;
    padding-top: 2em;
    padding-bottom: 1em;
}

h2,
h3,
h4 {
    font-weight: 12em;
}

h2 {
    font-size: 4em;
    margin: 0em 0em 0em;
    font-family: nexa-rust-slab-black-shad-2, sans-serif;
    font-weight: 900;
    font-style: normal;
}

h3 {
    font-size: 3em;
    margin: 1em 0em 0em;
    font-family: "nexa-rust-script-shad-2", sans-serif;
font-weight: 400;
font-style: normal;
}

h4 {
    font-size: 1em;
    /* margin: .5em; */
    font-family: nexa-rust-slab-black, sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}

nav ul {
    text-align: right;
}

ul li {
    list-style-type: none;
}

figure {
    margin-bottom: 2em;
}

main.menu ul {
    margin: 0em;
}

main.menu ul li {
    margin: 2em 0em 1.5em 0em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

p {
    margin: 1em;
    margin-left: 0em;
    line-height: 1.2em;
 
    font-family: "proxima-sera", sans-serif;
    font-weight: 100;
    font-style: normal;

   
}

p.description {
    grid-column: 1/3;
    margin: 0;
}

p.price {
    grid-row: 1/3;
    grid-column: 2/3;
    color: rgb(128, 0, 0);
    text-align: right;
    margin: 0;
}

nav ul li {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

nav ul li a {
    color: rgb(220, 200, 200);
    padding: 0.3em 0.3em 0.3em 0.3em;
    font-family: "nexa-rust-slab-black", sans-serif;
    font-weight: 900;
    font-style: normal;
        -webkit-text-stroke: 1px rgb(0, 0, 0);

}

p.slogan {
    font-size: 4em;
    font-family: "nexa-rust-slab-black-2", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;    
    margin: 1em 0rem 1em 0rem;
    color: rgb(255, 255, 255);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    padding: 1em 1em;
    background: rgb(255, 255, 255);
}

address {
    color: rgb(255, 255, 255);
    margin: 0em 1em 1em 0em;
    font-family: "nexa-rust-slab-black", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1em;
 
}

footer p {
    margin: 0em;
}

body {
    font-family: sans-serif;
}

nav ul li.selected a {
    color:  rgb(255, 255, 255);
}

article {
    max-width: 35em;
    margin: auto;
    margin-top: 1em;
    padding-top: .5em;
    border-top: 2px rgb(128, 0, 0) solid;
    border-bottom: 2px rgb(128, 0, 0) solid;
}

@media screen and (min-width: 60em) {
    nav ul li {
        display: inline;
    }

    main.menu ul {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2em;
    }
}
