/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(Website/home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container { 
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 2em 2em 6em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: rgb(205, 205, 205);
	padding: 1em 1em 0.5em;
	}

h1 {
	width: 12em;
	}

h2, h3, h4 {
		font-weight: 12em;
	}

h2 {
	font-size: 2em;
	margin: 1em 1em .5em;
	font-family: sans-serif;
	font-weight: bold;
	}
	
h3 {
	font-size: 1.5em;
	margin: 1em 1em .5em;
	font-family: sans-serif;
	font-weight: bold;
}

h4{
	font-size: 1em;
	margin: .5em;
	font-family: sans-serif;
	font-weight: bold;
}


a {
	text-decoration: none;
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;
}

figure {
	margin-bottom: 2em;
}

main.menu ul {
		margin: 0em;
}	

main.menu ul li {
		margin: 2em 0em 1.5em 0em;
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
}	

p {
	margin: 1em;
	margin-left: 0em;
	font-family: sans-serif;
	line-height: 1.2em;
	}
	
p.description {
	grid-column: 1/3;
	margin: .5em;
	}
	
p.price {
	grid-row: 1/3;
	grid-column: 2/3;
	color: rgb(239, 59, 43);
	text-align: right;
	margin: .5em;
	}
	
nav ul li {
	text-transform: uppercase;
	margin-bottom: 1.5rem;
	}
	
nav ul li a {
	color: rgb(255, 255, 0);
	background-color: rgb(0, 0, 235);
	padding: .3em .3em .3em .3em;
	font-weight: bold;
	}
	

p.slogan {
	font-size: 4em;
	font-family: serif;
	font-style: italic;
	margin: 1em 0rem 2em 0rem;
	color: rgb(255, 255, 255);	
	}
	
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 1em 1em;
  background: rgb(255, 255, 85);
}

address {
	color: rgb(235, 140, 54);
	font-family: sans-serif;
	margin: 0em 1em 1em 0em;
	}

footer p {
	margin: 0em;
}

